node_modules
.env
.dev.vars
dist
.next
out
bin

# Yarn Berry
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo

# Placed here to avoid .gitignore for yarn pack
packages/cli/templates/*
packages/cli/!templates/.gitignore
packages/cli/!templates/readme.md